<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icons/MafeePasswords.png">
    <link rel="stylesheet" href="index.css">
    <script src="index.js" defer></script>
    <script src="passwords.js"></script>
    <title>Mafee Passwords</title>
</head>
<body>
    <div class="app">
        <div class="heading-cont">
        <div class="heading">
            <div class="logo">
                <img src="icons/MafeePasswords.png">
            </div>
            <div>
                <div class="title">
                    Mafee Passwords
                </div>
                <div class="desc">
                    Generate Passwords in a jiffy
                </div>
            </div>
        </div>
        </div>

        <div class="pass-cont">
            <div class="password">
                <div>
                    <div class="generate">
                        <input placeholder="Length" style="outline: none">
                    </div>
                    <div class="output" title="Click to copy your password!"><h></h><p></p></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>